<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/looking">Looking</a>
      <a href="/employed">Employed</a>
    </nav>

    <main>
      {{{yield}}}
    </main>
  </body>
</html>
