<header>
  <h1>The Robots User Directory</h1>
  {{#loggedIn}}
    <h4>User Logged In: {{username}}</h4>
  {{/loggedIn}}
</header>
{{#users}}
  <a class="content" href="/user/{{_id}}">
    <div class="eachUser">
      <img src={{avatar}}>
      <h2>{{name}}</h2>
      {{#job}}
        <p id="jobp">{{job}}, {{company}}</p>
      {{/job}}
      {{^job}}
        <p id="hirep">Available for hire</p>
      {{/job}}
    </div>
  </a>
{{/users}}
