<div class="container">
  <header>
    <h1>Robot Directory Login</h1>
  </header>
  <div class="loginPage">
    <form action="/login" method="post">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="password" name="password" value="" placeholder="Password">
      <button type="submit" name="button">Login</button>
    </form>
  </div>
  <br>
  <h4>Not registered? Click on Sign Up</h4>
</div>
