<div class="signup">
  <h1>Sign Up</h1>
  <div class="signupPage">
    <form action="/signup" method="post">
      <input type="text" name="name" value="" placeholder="Name">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="password" name="password" value="" placeholder="Password">
      <button type="submit" name="button">Sign Up</button>
    </form>
  </div>
</div>
